html,
body {
  width: 100%;
  background: #0f0f0f;
  padding: 100vh 0;
}

.main-content {
  width: 100%;
  height: 500vh;
  background: #433333;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card-frame {
  position: absolute;
  width: 95vw;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 24%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  transform-style: preserve-3d;
  position: relative;
  transform: perspective(100vw) translateX(100vw) rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1vw;
  backface-visibility: hidden;
  overflow: hidden;
}

.front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  font-size: 0.5em;
  text-align: center;
}

.back {
  transform: rotateY(180deg);
  background-color: #e0ded7;
  background-image: repeating-linear-gradient(
    0deg,
    #3b3a38,
    #3b3a38 33.3%,
    #ffffff00 0px,
    #ffffff00 67%
  );
  background-size: 100%;
}
