html,
body {
  background: linear-gradient(to right top, #d198c8ff, #e0c568ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.frame {
  position: relative;
  width: 360px;
  height: 540px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  user-select: none;
  touch-action: none;
}

.btns {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.btns > button {
  width: 100px;
  height: 25px;
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
